---
layout: base
---
{% if paginator.page == 1 %}
	<div class="banner">
		<img src="icon.svg" width="96" heigh="96">
		<h1>Is this<br>the end<br>of the article?</h1>
	</div>

	<nav class="linkrow">
		<a href="/what.html">What?</a>
		<a href="/submittool.html">Submit an encounter</a>
	</nav>
{% else %}
	{% include siteheading.html %}
{% endif %}

<div id="contentstart" class="anchor"></div>

{% for post in paginator.posts %}
	<div class="frame anchor">
		<img class="shot" srcset="{{ post.image_above }} {{ post.ratio }}x">
		<div class="message">
			<p>
				Is this the end of the article?<span class="ws"> </span>
				<span class="nw">
					<a href="{{ post.url }}#guessed-yes" class="guess yes" onclick="gtag('event', 'guess', {event_label: '{{ post.id }}:yes'})">Yes</a><span class="ws"> </span>
					<a href="{{ post.url }}#guessed-no" class="guess no" onclick="gtag('event', 'guess', {event_label: '{{ post.id }}:no'})">No</a>
				</span>
			</p>
		</div>
	</div>
{% endfor %}

<nav class="linkrow end">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}#contentstart">Newer</a>
	{% else %}
		<span>Newer</span>
	{% endif %}
	<span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}#contentstart">Older</a>
	{% else %}
		<span>Older</span>
	{% endif %}
</nav>
